*:not(input){
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
:root {
    --backgoundColor : #1780a0;
    --backgoundNav: #dedfe0;
    --textcolor : #ffffff ;
    --navBgcColor: #1780a0;
}
body{
    background-color: var(--backgoundColor);
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content:space-between ;
    background-color: var(--backgoundNav);
}
nav div{
    display: flex;
    justify-content:space-between;
    background-color: var(--backgoundNav);
}
nav img {
    width: 7rem;
    height: 7rem;
    padding: 10px;
}
nav li{
    list-style: none;
    color: var(--navTextColor) ;
    background-color: var(--navBgcColor);
    border-radius: 10px;
    color: var(--textcolor);
    padding: 0.2rem;
    margin: 3px;
    height: 25px;
    text-align: center;
    font-size: smaller;
}
nav a{
    color: var(--navTextColor);
    text-decoration: none;
}
main{
    text-align: center;
    color: var(--textcolor) ;
}

