*:not(input){
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
:root {
    --backgoundColor : #1780a0;
    --backgoundNav: #dedfe0;
    --textcolor : #ffffff ;
    --navBgcColor: #1780a0;
    --navBgcColorHover: #71b3c7;

}
body{
    background-color: var(--backgoundColor);
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content:space-between ;
    background-color: var(--backgoundNav);
    align-items: center;
}

nav img {
    width: 7rem;
    height: 7rem;
    padding: 10px;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
}
nav li{
    list-style: none;
    background-color: var(--navBgcColor);
    border-radius: 10px;
    color: var(--textcolor);
    padding: 0.2rem;
    margin: 3px;
    width: 15vh;
    height: 25px;
    text-align: center;
    font-size: smaller;
}
nav a{
    color: var(--navTextColor);
    text-decoration: none;
}
nav li:hover{
    background-color: var(--navBgcColorHover);
}
main{
    text-align: center;
    color: var(--textcolor) ;
}

#contactFormHeader{
    display: flex;
    width: 90%;
    justify-items: center;

}
#contactFormHeader input{
    display: flex;
    width: 90%;
    
 
}
#contactFormBottom{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
#contactFormBottom input{
    gap: 0.5rem;
}
